*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
}

header {
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  padding-top: 20px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  /* box-shadow: 0 1px 2px #f4f4f4; */
}

nav {
  padding: 10px;
}

.nav a {
  text-decoration: none;
  margin: 2px 15px;
  padding: 2px;
}

.active__nav {
  border-bottom: 1px solid black;
}

.nav a:hover,
.nav a:active {
  border-bottom: 1px solid black;
}

.nav__main-header {
  margin-left: auto;
  margin-right: 60px;
  font-size: 2.5rem;
}

.grid__container {
  margin-top: 40px;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
  /* grid-template-rows: 1fr; */
  align-items: start;
}

.container__img {
  text-align: center;
}

.grid__container img {
  object-fit: cover;
  width: 90%;
}

.desc__container {
  padding: 20px;
  text-align: left;
  height: 100%;
}

.about-the-book {
  text-align: center;
  margin-top: 30px;
  font-size: 3rem;
}

.para--bold {
  margin-top: 30px;
}

.para--normal {
  margin-top: 30px;
}