*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* FIX ANIMATION JUMPING/SHAKING */
  backface-visibility: hidden;
  color: black;
  text-decoration: none;
}

html {
  padding: 20px;
  scroll-behavior: smooth;
  font-size: 1rem;
  font-family: 'Nanum Gothic', sans-serif;
  color: black;
  text-align: center;
}

body {
  box-sizing: border-box;
}

header {
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  text-align: left;
  padding-top: 20px;
  background-color: rgb(255, 255, 255);
  /* box-shadow: 0 1px 2px #f4f4f4; */
}

nav {
  width: 75vw;
  padding: 20px;
  padding-left: 40px;
}

.nav a {
  color: black;
  display: inline-block;
  text-decoration: none;
  margin: 2px 8px;
  padding: 1px;
  font-size: 0.9rem;
  font-weight: bold;
}

.active__nav {
  border-bottom: 1px solid black;
}

.nav a:hover,
.nav a:active {
  border-bottom: 1px solid black;
}

.nav__main-header {
  font-family: 'Josefin Sans', sans-serif;
  margin-left: auto;
  margin-right: 60px;
  font-size: 2rem;
  font-weight: normal;
}

.grid__container {
  margin-top: 40px;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.container__img {
  text-align: center;
}

.grid__container img {
  object-fit: cover;
  width: 675px;
}

.desc__container {
  display: grid;
  grid-template-rows: 0.1fr 0.1fr auto;
  align-items: center;
  justify-items: center;
  padding: 30px 0;
  padding-right: 60px;
  padding-left: 20px;
  text-align: left;
  height: 100%;
}

.about-the-book {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 4rem;
}

.para--bold {
  padding: 20px;
  line-height: 1.8;
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: medium;
  margin-bottom: 20px;
}

/* #top-separator {
  margin-top: 60px;
}
.separator {
  align-self: center;
  justify-self: center;

  width: 75%;
  border-top: 2px solid black;
  grid-column-start: 1;
  grid-column-end: -1;
} */

.section__header {
  font-family: 'Open Sans', sans-serif;
  text-transform: lowercase;
  font-size: 3rem;
  margin: 10px;
  margin-top: 80px;
  grid-column: 1/-1;
}

.recipe__container {
  margin-top: 60px;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 10px;
  display: grid;
  gap: 40px;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
}

.recipe__card {
  overflow: hidden;
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.recipe__img {
  left: 50%;
  transform: translate(-25%, 0);
  margin-left: -200px;
  position: absolute;
  /* flex-shrink: 0; */
  width: auto;
  height: 300px;
}

.recipe__title {
  margin-top: 325px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.2s ease-in;
}

.recipe__title:hover,
.recipe__title:active {
  color: blue;
}

#bday-message {
  margin-top: 20px;
  padding: 10px 200px;
  justify-self: center;
  grid-column: 1/-1;
}

/* Confetti */

canvas {
  z-index: 1;
  pointer-events: none;
  width: 95vw;
  height: 95vh;
  grid-column: 1/-1;
  margin: 0 auto;
}

#content {
  text-align: center;
  height: 100px;
  font-family: verdana;
  font-size: 45px;
  font-weight: bold;
  grid-column: 1/-1;
}

.wrapper {
  display: inline-block;
}

/*laptops, desktops*/
@media (min-width: 1024px) and (max-width: 1300px) {
  .grid__container {
    grid-template-columns: 1fr;
  }
  .recipe__container {
    grid-template-columns: 1fr 1fr;
  }

  iframe {
    width: 90%;
    height: 75vh;
  }
}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 1023px) {
  nav {
    padding: 0px;
    padding-left: 0px;
  }

  .nav__main-header {
    font-size: 1.5rem;
    margin-right: 15px;
  }

  .nav a {
    font-size: 0.8rem;
  }

  html {
    padding: 0px;
    font-size: 0.8rem;
    align-items: center;
  }
  .container__img > img {
    object-fit: cover;
    width: 90vw;
  }

  .grid__container {
    grid-template-columns: 1fr;
  }

  .recipe__container {
    grid-template-columns: 1fr;
  }

  .recipe__container {
    grid-template-columns: 1fr 1fr;
  }

  .desc__container {
    padding: 5px;
    text-align: center;
  }

  .section__header {
    font-family: 'Open Sans', sans-serif;
    text-transform: lowercase;
    font-size: 3rem;
    margin: 10px;
    margin-top: 20px;
  }

  .about-the-book {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .para--bold {
    padding-top: 0;
    margin-top: 10px;
    font-size: 1.3rem;
  }

  .recipe__card {
    width: 300px;
  }

  .recipe__title {
    font-size: 1.4rem;
  }

  #bday {
    margin-top: 80px;
    font-size: 2.1rem;
  }

  #bday-message {
    padding: 10px 20px;
  }

  .recipe__desc {
    font-size: 1.2rem;
  }

  iframe {
    width: 90%;
    height: 300px;
  }
}

/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 1023px) {
  nav {
    padding: 0px;
    padding-left: 0px;
  }

  .nav__main-header {
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: 15px;
  }

  .nav a {
    font-size: 0.8rem;
  }

  html {
    padding: 0px;
    font-size: 0.8rem;
    align-items: center;
  }
  .container__img > img {
    object-fit: cover;
    width: 90vw;
  }

  .grid__container {
    grid-template-columns: 1fr;
  }

  .recipe__container {
    grid-template-columns: 1fr;
  }

  .recipe__container {
    grid-template-columns: 1fr;
  }

  .desc__container {
    padding: 5px;
    text-align: center;
  }

  .section__header {
    font-family: 'Open Sans', sans-serif;
    text-transform: lowercase;
    font-size: 3rem;
    margin: 10px;
    margin-top: 20px;
  }

  .about-the-book {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .para--bold {
    padding-top: 0;
    margin-top: 10px;
    font-size: 1.3rem;
  }

  .recipe__card {
    width: 85vw;
  }

  .recipe__title {
    font-size: 1.4rem;
  }

  #bday {
    margin-top: 80px;
    font-size: 2.1rem;
  }

  #bday-message {
    padding: 10px 20px;
  }

  .recipe__desc {
    font-size: 1.2rem;
  }

  iframe {
    width: 90%;
    height: 300px;
  }
}
